body{
    background-color: aqua;
    margin: 0;
    display: flex;
    justify-content: center;
   
}
.App{
    margin-top: 50%;
    text-align: center;
    background-color: brown; 
    width: 400px;   
    padding: 20px;
    border-end-end-radius: 30px;
    border-top-left-radius:30px ;
    color: white;
}

.App label{    
    margin-right: 10px;
}

.App input{
    border: solid rgb(97, 14, 14) 2px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.App button{
    border: solid rgb(97, 14, 14) 2px;
    height: 35px;
    width: 90px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .6s;
    
}

.App button:hover{
    background-color: rgb(129, 56, 56);
    color: white;

}